@font-face {
    font-family: 'DM Sans';
    src: url('./../fonts/DM_Sans/DMSans-Regular.woff2');
}

@font-face {
    font-family: 'Mulish';
    src: url('./../fonts/Mulish/AnyConv.com__Mulish-Regular.woff2')
}

