.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;

  &__body {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    position: relative;
    z-index: 3;

    img {
      vertical-align: middle;
      &:first-of-type {
        margin-right: 5px;
      }
    }
  }

  &__burger {
    display: none;
  }

  &__btn {
    border: 1px solid #fff;
    border-radius: 7px;
    color: inherit;
    display: inline-block;
    flex-shrink: 0;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    padding: 5px 30px;
    text-align: center;

    &:hover {
      background: #fff;
      color: #0773fa;
    }
  }
}

.menu {
  display: inline-block;
  flex: 1 1 auto;
  height: 31px;

  &__list {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100%;
    list-style-type: none;
    
    padding: 0 110px;
  }

  &__item {
    display: inline-block;
    // height: 100%;
    padding: 0 15px;
  }

  &__link {
    color: inherit;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}
