@import "~normalize.css";
@import "./fonts.scss";
@import './header.scss';
@import './home.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-size: 0;
}

.wrapper {
  font-size: 18px;
  line-height: 48px;
  min-height: 500vh;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}